@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080E1A ;;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', 'Open Sans', 'Poppins', sans-serif;
  position: relative;
  /* overflow: hidden; */
}

/* Moving Grid Background */
.grid-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: 50px 50px;
  background-image: 
    linear-gradient(rgba(74, 144, 226, 0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(74, 144, 226, 0.2) 1px, transparent 1px);
  animation: moveGrid 8s linear infinite;
  z-index: -1;
}

@keyframes moveGrid {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -50px -50px;
  }
}

h1 {
  color: #1B1F3B;
}
